  <footer>
    &copy; 2023 - Community Garden Manager - Created by Eunhae Hwang, Davis Klevgard, and Levi Marquardt<br>
    <a href="mailto:email@student.cvtc.edu">email@student.cvtc.edu</a>
    <!--<li><a href='/ZoneMap'>Zone Map</a></li>-->
  </footer>
</body>
</html>
