  <footer>
    &copy; 2023 - Community Garden Manager - Created by Eunhae Hwang, Davis Klevgard, and Levi Liljedahl<br>
    <a href="mailto:CommunityGardenManagerCGM@gmail.com">CommunityGardenManagerCGM@gmail.com</a>
  </footer>
</body>
</html>
