<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community Garden Manager</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/otherPages.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body id="body">
  <header>
    <h1>Community Garden Manager</h1>
    <nav>
      <ul>
        <li><a href='/' id="homeTab">Member's Home</a></li>
        <li><a href='/AddFavs'>Add Favorites</a></li>
        <li><a href='/favorites'>Member's Favorites</a></li>
        <li><a href='/Design'>Garden Designer</a></li>
        <li><a href='/Gallery'>Image Gallery</a></li>
        <li><a href='/Discussion'>Gardener Chat</a></li>
        <li><a href='/ZoneMap'>ZipCode Lookup</a></li>
        <li><a href='/ZoneSearch'>Zone Search</a></li>
        <li><a href='/PlantSearch2'>Plant Search</a></li>
        <li><a id="loginButton" href='/loginAndSignUp'>Login</a></li>
      </ul>
    </nav>
  </header>