<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community Garden Manager</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/otherPages.css">
</head>
<body id="body">
  <header>
    <h1>Community Garden Manager</h1>
    <nav>
      <ul>
        <li><a href='/' id="homeTab">Home</a></li>
        <li><a href='/pageA'>pageA</a></li>
        <li><a href='/pageB'>pageB</a></li>
        <li><a href='/pageC'>pageC</a></li>
        <li><a href='/pageD'>pageD</a></li>
        <li><a href='/pageE'>pageE</a></li>
        <li><a href='/pageF'>pageF</a></li>
        <li><a href='/ZoneMap'>Zone Map</a></li>
        <li><a href='/ZoneSearch'>Zone Search</a></li>
        <li><a href='/PlantSearch2'>Plant Search</a></li>
      </ul>
    </nav>
  </header>