@font-face{font-family:'Calluna';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
 }

 * {
  cursor: url(images/shovel.cur), text;
 }

 header h1 {
  font-size: 70px;
  text-align: center;
  color: #000;
}

 body {
   background: rgba(173, 236, 207, 0.8);
   font-family: Calluna, Arial, sans-serif;
   min-height: 1000px;
 }

 #introDesktop {
  text-align: center;
 }

 #columns {
   column-width: 320px;
   column-gap: 15px;
   width: 90%;
   max-width: 1100px;
   margin: 50px auto;
 }
 
 div#columns figure {
   background: #fefefe;
   border: 2px solid #fcfcfc;
   box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
   margin: 0 2px 15px;
   padding: 15px;
   padding-bottom: 10px;
   transition: opacity .4s ease-in-out;
   display: inline-block;
 }
 
 div#columns figure img {
   width: 100%; height: auto;
   border-bottom: 1px solid #ccc;
   padding-bottom: 15px;
   margin-bottom: 5px;
 }
 
 div#columns figure figcaption {
   font-size: .9rem;
   color: #444;
   line-height: 1.5;
 }
 
 div#columns small { 
   font-size: 1rem;
   float: right; 
   text-transform: uppercase;
   color: #aaa;
 } 
 
 div#columns small a { 
   color: #666; 
   text-decoration: none; 
   transition: .4s color;
 }
 
 /* Do we want to get rid of the blur effect */
 div#columns:hover figure:not(:hover) {
   opacity: 0.4;
 }
 
 .button {
  background-color: rgb(79, 48, 48);
  border: none;
  color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  border-radius: 5px;
  position: relative;
  left: 500px;
  bottom: 70px;
}

.button:hover {
  background-color: #8A0000;
  border-color: #000;
  color: #FFF;
}

#introDesktop h3 {
  position: relative;
  bottom: 80px;
}

#introDesktop h4 {
  position: relative;
  bottom: 80px;
}

#desktopNav {
  margin: 10px auto;
  width: 1000px;
  
}

.dropdown, #tabletNav, #introSmaller{
  display: none;
}

#desktopNav ul li a {
  margin: 10px 2px;
  font-size: 22px;
  width: 85px;
  padding: 5px;
}

#desktopNav ul {
  list-style-type: none;
  display: flex;
  
}
#desktopNav ul a {
  background-color: rgba(2, 75, 57, 0.651);
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 0 20px;
  font-size: 125%;
  display: block;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
}

#desktopNav ul a:hover {
  background-color: #8A0000;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
}

@media screen and (max-width: 1100px) { 
  #logButton {
    position: relative;
    left: -510px;
    margin-top: 100px;
   }

   #introDesktop {
    display:none;
   }

   #introSmaller {
    display: block;
    text-align: center;
   }

   #introSmaller h3 {
    position: relative;
    bottom: 50px;
  }
  
  #introSmaller h4 {
    position: relative;
    bottom: 50px;
  }
}

@media screen and (max-width: 960px) { 
  #desktopNav, #logButton {
    display: none;
   }

   #tabletNav {
    display: block;
  }

  #tabletNav ul {
    text-align: center;
  }
  
  #tabletNav li {
    display: inline-block;
    margin: 1%;
  }

  #tabletNav ul li a {
    margin: 10px 2px;
    margin-left: 0px;
    font-size: 22px;
    padding: 5px;
    width: 100px;
  }
  
  #tabletNav ul a {
    background-color: rgba(2, 75, 57, 0.651);
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    padding: 0 20px;
    font-size: 125%;
    display: block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
  }
  
  #tabletNav ul a:hover {
    background-color: #8A0000;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    color: #FFF;
  } 

  #tabletNav #loginButtonNav {
    background-color: rgb(79, 48, 48);
    border: none;
    color: #4CAF50;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
  
  }
  
  #tabletNav #loginButtonNav:hover {
    background-color: #8A0000;
    border-color: #000;
    color: #FFF;
  }

   #introSmaller {
    display: block;
    text-align: center;
   }

   #introSmaller h3 {
    position: relative;
    bottom: 0px;
  }
  
  #introSmaller h4 {
    position: relative;
    bottom: 0px;
  }
}

@media screen and (max-width: 750px) { 
  #columns { 
   column-gap: 0px;
   margin-left: 0px;
 }
  #columns figure { width: 100%; }

  #desktopNav {
   display: none;
  }

  #tabletNav {
    display: none;
   }

  #introSmaller {
    display: block;
    text-align: center;
   }

   #introSmaller h3 {
    position: relative;
    bottom: -10px;
  }
  
  #introSmaller h4 {
    position: relative;
    bottom: -50px;
  }

  #logButton {
    display: none;
  }

  #intro h3, h4 {
    top: 10px;
  }
  
  .dropdown {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    left: 35%;
  }
  
  button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  button:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

}