
/* CSS for pages, but not for Home page */
* {
  cursor: url(images/shovel.cur), text;
 }
 
body {
  background: rgba(173, 236, 207, 0.8);
}

header h1 {
  font-size: 70px;
  text-align: center;
  color: #000;
}

main {
  background: #FFF;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 115px;
  color: #000;
  margin: 10px auto;
  width: 1090px;
  
}

h2{
    font-size: 30px;
    margin: 2em;
    text-align: center;
}

 p {
  margin: 20px;
  text-align: center;
  font-size: 25px;
}

/*
img {
  margin:10px;
  position: relative;
  left: 30%;
}
*/

#desktopNav {
  margin: 10px auto;
  width: 1090px;
  
}

#desktopNav ul li a {
  margin: 10px 2px;
  font-size: 22px;
  width: 85px;
  padding: 5px;
}

#desktopNav ul {
  list-style-type: none;
  display: flex;
}
#desktopNav ul a {
  background-color: rgba(2, 75, 57, 0.651);
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 0 20px;
  font-size: 125%;
  display: block;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
    
}

#desktopNav ul a:hover {
  background-color: #8A0000;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
}

footer {

  border-color: #FFF;
  border-width: 1px;
  border-style: none;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
 /* width: 1000px; Causing things not to shrink */
  text-align: center;
  color: #000;
  border-top: 1px solid;
}

#ZoneMap {
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.inputContainer label, input {
  margin: 10px;
}

.input {
  margin: 5px;
}

.zoneDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  width: 35em;
  margin: auto;
  margin-bottom: 10px;
}

.zoneDisplay img {
  position: relative;
  left: 0px;
}

.zoneDisplay span {
  margin: 10px;
}

.login {
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_title {
  margin-bottom: 2rem;
  text-align: center;
}

.form_input--input{
  cursor: text;
}

.form_message--error {
  color: #8A0000;
  text-align: center;
}

.form_button {
  position: relative;
  left: 60px;
  cursor: pointer;
}

.form_link{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form_link:hover {
  text-decoration: underline;
}

#search-form, #search-form2, #addFav-form, #addFav-header, #searchFavs-form, #searchFavs-header {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#addFav-form input {
  width: 300px;
}

#FavsSuccess, #FavsFail, #signUpSuccess, #signUpFail, #discussionSuccess, #discussionFail, #discussion-form, #memFavHeader, .comingSoon, #galleryHeader {
  text-align: center;
}

#searchFavs-form-submit {
  margin-bottom: 10px;
}

table {
  width: 75%;
}

table, th, td {
  border:1px solid black;
  border-color: black;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

.search-form-field, .search-form-field2 {
  color: #3a3a3a;
  background-color: rgba(173, 236, 207, 0.8); ;
}

.search-form-field, .search-form-field2 {
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#search-form-submit, #search-form-submit2 {
  width: 100px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

#searchForm, #searchForm2 {
  margin: auto;
  margin-bottom: 25px;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  width: 50%;
}

#displaySearchResults, #displaySearchResults2 {

  border-color: #000;
  border-width: 1px;
  border-style: none;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  color: #000;
  border-top: 1px solid;
}

#resultNameImg{
  position: relative;
  left: 5px;
}

.signUp {
  position: relative;
  left: 50px;
  bottom: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.signUp h1 {
  position: relative;
  right: 50px;
}

.form_button--signUp {
  position: relative;
  top: 10px;
  left: 60px;
  cursor: pointer;
}

.gallery {
  margin: auto;
  margin-left: 15%;

}

.gallery img {
  width: 200px;
  padding: 15px;
  filter: grayscale(100%);
  transition: 1s;
  margin: 20px;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}

#desktopNav #loginButton {
  background-color: rgb(79, 48, 48);
  border: none;
  color: #4CAF50;
  padding: 17px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;

}

#desktopNav #loginButton:hover {
  background-color: #8A0000;
  border-color: #000;
  color: #FFF;
}

blockquote {
  border: 1px solid #ccc;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
}

blockquote p {
  font-size: 22px;
}

#board {
  border: 1px solid #ccc;
  width: 75%;
  margin: auto;
  margin-bottom: 10px;
}

/* My new code */

.dropdown, #tabletNav, #introSmaller{
  display: none;
}

@media screen and (max-width: 1075px) { 

  #desktopNav, #logButton {
    display: none;
   }

   #tabletNav {
    display: block;
  }

  #tabletNav ul {
    text-align: center;
  }
  
  #tabletNav li {
    display: inline-block;
    margin: 1%;
  }

  #tabletNav ul li a {
    margin: 10px 2px;
    margin-left: 0px;
    font-size: 22px;
    padding: 5px;
    width: 100px;
  }
  
  #tabletNav ul a {
    background-color: rgba(2, 75, 57, 0.651);
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    padding: 0 20px;
    font-size: 125%;
    display: block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.8);
  }
  
  #tabletNav ul a:hover {
    background-color: #8A0000;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    color: #FFF;
  } 

  main {
    width: auto;
  }

  #displaySearchResults, #displaySearchResults2 {
    width: auto;
  }

  #tabletNav #loginButtonNav {
    background-color: rgb(79, 48, 48);
    border: none;
    color: #4CAF50;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
  
  }
  
  #tabletNav #loginButtonNav:hover {
    background-color: #8A0000;
    border-color: #000;
    color: #FFF;
  }

}

@media screen and (max-width: 750px) { 
  #columns { 
   column-gap: 0px;
   margin-left: 0px;
 }
  #columns figure { width: 100%; }

  #desktopNav {
   display: none;
  }

  #tabletNav {
    display: none;
   }

  #logButton {
    display: none;
  }

  #intro h3, h4 {
    top: 10px;
  }
  
  .dropdown {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    left: 35%;
  }
  
  button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  button:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

  .zoneDisplay {
    width: auto;
  }
  
  .zoneDisplay img {
   display: none;
  }
  
}


  .contact {
  position: relative; 
  left: 350px;
  }
