<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Community Garden Manager</title>
    <link rel="stylesheet" href="drawStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="draw.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
  <main>
    <header>
      <h1>Community Garden Manager</h1>

      <nav id="desktopNav">
        <ul>
          <li><a href='/' id="homeTab">Home Page</a></li>
          <li><a href='/favorites'>Member's Favorites</a></li>
          <li><a href='/Design'>Garden Designer</a></li>
          <li><a href='/Gallery'>Image Gallery</a></li>
          <li><a href='/Discussion'>Gardener Chat</a></li>
          <li><a href='/ZoneMap'>ZipCode Lookup</a></li>
          <li><a href='/ZoneSearch'>Zone Search</a></li>
          <li><a href='/PlantSearch2'>Plant Search</a></li>
          <li><a id="loginButton" href='/loginAndSignUp'>Login</a></li>
        </ul>
      </nav>
      <nav id="tabletNav">
          <ul>
            <li><a href='/' id="homeTab">Home Page</a></li>
            <li><a href='/favorites'>Member's Favorites</a></li>
            <li><a href='/Design'>Garden Designer</a></li>
            <li><a href='/Gallery'>Image Gallery</a></li>
            <li><a href='/Discussion'>Gardener Chat</a></li>
            <li><a href='/ZoneMap'>ZipCode Lookup</a></li>
            <li><a href='/ZoneSearch'>Zone Search</a></li>
            <li><a href='/PlantSearch2'>Plant Search</a></li>
            <li><a id="loginButtonNav" href='/loginAndSignUp'>Login</a></li>
          </ul>
        </nav>
      <div class="dropdown">
          <button>Quick Links</button>
              <div class="dropdown-options">
                  <a href='/' id="homeTab">Home Page</a>
                  <a href='/favorites'>Member's Favorites</a>
                  <a href='/Design'>Garden Designer</a>
                  <a href='/Gallery'>Image Gallery</a>
                  <a href='/Discussion'>Gardener</a>
                  <a href='/ZoneMap'>ZipCode Lookup</a>
                  <a href='/ZoneSearch'>Zone Search</a>
                  <a href='/PlantSearch2'>Plant Search</a>
                  <a href='/loginAndSignUp'>Login</a>
              </div>
      </div>
    </header>

    <div class="container">
      <section class="tools-board">
        <p><em>** Refresh page after resizing for best performance **</em></p>
        <div class="row">
          <label class="title">Shapes</label>
          <ul class="options">
            <li class="option tool" id="rectangle">
              <img src="icons/rectangle.svg" alt="">
              <span>Rectangle</span>
            </li>
            <li class="option tool" id="circle">
              <img src="icons/circle.svg" alt="">
              <span>Circle</span>
            </li>
            <li class="option tool" id="triangle">
              <img src="icons/triangle.svg" alt="">
              <span>Triangle</span>
            </li>
          </ul>
        </div>
        <div class="row">
          <label class="title">Options</label>
          <ul class="options">
            <li class="option active tool" id="brush">
              <img src="icons/brush.svg" alt="">
              <span>Brush</span>
            </li>
            <li class="option tool" id="eraser">
              <img src="icons/eraser.svg" alt="">
              <span>Eraser</span>
            </li>
            <li class="option">
              <input type="checkbox" id="fill-color">
              <label for="fill-color">Fill color</label>
            </li>
            <li class="option">
              <input type="range" id="size-slider" min="1" max="30" value="5">
            </li>
          </ul>
        </div>
        <div class="row colors">
          <label class="title">Colors</label>
          <ul class="options">
            <li class="option"></li>
            <li class="option selected"></li>
            <li class="option"></li>
            <li class="option"></li>
            <li class="option">
              <input type="color" id="color-picker" value="#4A98F7">
            </li>
          </ul>
        </div>
        <div class="row buttons">
          <button class="clear-canvas">Clear Canvas</button>
          <button class="save-img">Download Design</button>
        </div>
      </section>
      <section class="drawing-board">
        <canvas></canvas>
      </section>
    </div>


    <%- include('../shared/footer.ejs') %>
  </main>