<%- include('../shared/header.ejs') %>
  <main>
    <h1 class="comingSoon">Gardener Chat</h1>
    <h2 class="comingSoon">Share ideas!</h2>
    <div id="discussion-form">
      
      <h3>Ask questions, make suggestions, get answers</h3>

      <form id="discussionForm">
        <input type="text" name="memo" id="memo" placeholder="Type here...">
        
        <input type="submit" value="Post" id="sub">
      </form>
    </div>
    <div id="Success"></div>
    <div id="board" class="comingSoon">
      <h2>Message Board</h2>
      <% posts.forEach(function(p) { %>
        <h3>
          <%= p.idea %>
        </h3>
      <% }); %>
    </div>


    <%- include('../shared/footer.ejs') %>
  </main>

  <script>

    const normalizeDate = function (src){
        var date1 = new Date(src); //Convert src to date

        var date2 = date1.toISOString(); //Convert date to correct format date

        var formattedDate = date2.split('T')[0]; //Gets rid of time stamp
                
        return formattedDate //return formatted date

    }
        
    const main = document.querySelector('main')

    const board = document.querySelector('board')
    
    const postIt = document.getElementById('memo')
    
    const subBtn = document.getElementById('sub')
        
    const discuss = async function () {


      main.innerHTML = '<h1 class="comingSoon">Thinking...</h1>'


      const communicate = postIt.value

      const data = {
        communication: communicate
      }

        const response = await fetch('/MessageBoard', {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })

      if (response.ok) {
        const result = await response.json()
        if (result.ok) {
          main.innerHTML = `<h1 id="discussionSuccess">Success! Your message was added to the database!</h1><h3 class="comingSoon">The message board will be coming soon!</h3>`

          setTimeout(function() {
            location.reload();
          }, 1000);
    
          return
        }
      }

      main.innerHTML = `<h1 id="discussionFail">Server error</h1>`

      
    }

    subBtn.addEventListener('click', (e) => discuss())
  </script>