<%- include('../shared/header.ejs') %>
  <main>
    <h2>Welcome to Community Garden Manager's Discussion Page</h2>
    <p>Web page currently under construction.</p>
    <p>Thank you for your paitence.</p>
    <img src="images/construction.gif" alt="Garden Plot">

      <%- include('../shared/footer.ejs') %>
  </main>