<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community Garden Manager</title>

  <script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  
</head>
<body>
  <%- include('../shared/header.ejs') %>

  <h1 id="galleryHeader">Photos from the community garden</h1>

  <div class="gallery">
    <a href="images/IMG_9802.JPG" data-lightbox="mygallery" data-title="Grow oats for strengthen the soil"><img src="images/IMG_9802.JPG"></a>
    <a href="images/IMG_9836.JPG" data-lightbox="mygallery" data-title="groundbreaking"><img src="images/IMG_9836.JPG"></a>
    <a href="images/IMG_9828.JPG" data-lightbox="mygallery" data-title="Asparagus from the previous year's planting"><img src="images/IMG_9828.JPG"></a>
    <a href="images/IMG_9811.JPG" data-lightbox="mygallery" data-title="Rabbit is our user, too."><img src="images/IMG_9811.JPG"></a>
    <a href="images/IMG_9809.JPG" data-lightbox="mygallery" data-title="Sunflowers for our pollinators"><img src="images/IMG_9809.JPG"></a>
  </div>

  <%- include('../shared/footer.ejs') %>

</body>
</html>