<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community Garden Manager</title>

  <script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  
</head>
<body>
  <%- include('../shared/header.ejs') %>
  
  <h1 id="galleryHeader">Photos from the community garden</h1>

  <div class="gallery">
    <a href="images/IMG_9802.JPG" data-lightbox="mygallery" data-title="Grow oats for strengthen the soil"><img src="images/IMG_9802.JPG"></a>
    <a href="images/IMG_9836.JPG" data-lightbox="mygallery" data-title="groundbreaking"><img src="images/IMG_9836.JPG"></a>
    <a href="images/IMG_9828.JPG" data-lightbox="mygallery" data-title="Asparagus from the previous year's planting"><img src="images/IMG_9828.JPG"></a>
    <a href="images/IMG_9811.JPG" data-lightbox="mygallery" data-title="Rabbit is our user, too."><img src="images/IMG_9811.JPG"></a>
    <a href="images/IMG_9809.JPG" data-lightbox="mygallery" data-title="Sunflowers for our pollinators"><img src="images/IMG_9809.JPG"></a>
    <a href="images/IMG_9795.JPG" data-lightbox="mygallery" data-title="Pumpkin in the community garden"><img src="images/IMG_9795.JPG"></a>
    <a href="images/IMG_9797.JPG" data-lightbox="mygallery" data-title="Eggplant from the community garden"><img src="images/IMG_9797.JPG"></a>
    <a href="images/IMG_9800.JPG" data-lightbox="mygallery" data-title="Harvest is for community garden members"><img src="images/IMG_9800.JPG"></a>
    <a href="images/IMG_9805.JPG" data-lightbox="mygallery" data-title="Carots need thining"><img src="images/IMG_9805.JPG"></a>
    <a href="images/IMG_9810.JPG" data-lightbox="mygallery" data-title="A Peter Rabbit"><img src="images/IMG_9810.JPG"></a>
    <a href="images/IMG_9815.JPG" data-lightbox="mygallery" data-title="A flower tastes like cucumber"><img src="images/IMG_9815.JPG"></a>
    <a href="images/IMG_9819.JPG" data-lightbox="mygallery" data-title="Beet bit by somebody"><img src="images/IMG_9819.JPG"></a>
    <a href="images/IMG_9823.JPG" data-lightbox="mygallery" data-title="No chemical pesticide in the community garden"><img src="images/IMG_9823.JPG"></a>
    <a href="images/IMG_9833.JPG" data-lightbox="mygallery" data-title="Forest Street Community Garden in Eau Claire"><img src="images/IMG_9833.JPG"></a>
    <a href="images/IMG_9812.JPG" data-lightbox="mygallery" data-title="Berries at the community garden orchard"><img src="images/IMG_9812.JPG"></a>
    <a href="images/IMG_9832.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9832.JPG"></a>
    <a href="images/IMG_9803.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9803.JPG"></a>
    <a href="images/IMG_9796.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9796.JPG"></a>
    <a href="images/IMG_9818.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9818.JPG"></a>
    <a href="images/IMG_9825.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9825.JPG"></a>
    <a href="images/IMG_9826.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9826.JPG"></a>
    <a href="images/IMG_9829.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9829.JPG"></a>
    <a href="images/IMG_9822.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9822.JPG"></a>
    <a href="images/IMG_9813.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9813.JPG"></a>
    <a href="images/IMG_9831.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9831.JPG"></a>
    <a href="images/IMG_9814.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9814.JPG"></a>
    <a href="images/IMG_9827.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9827.JPG"></a>
    <a href="images/IMG_9806.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9806.JPG"></a>
    <a href="images/IMG_9808.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9808.JPG"></a>
    <a href="images/IMG_9794.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9794.JPG"></a>
    <a href="images/IMG_9798.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9798.JPG"></a>
    <a href="images/IMG_9820.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9820.JPG"></a>
    <a href="images/IMG_9824.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9824.JPG"></a>
    <a href="images/IMG_9807.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9807.JPG"></a>
    <a href="images/IMG_9804.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9804.JPG"></a>
    <a href="images/IMG_9801.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9801.JPG"></a>
    <a href="images/IMG_9799.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9799.JPG"></a>
    <a href="images/IMG_9816.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9816.JPG"></a>
    <a href="images/IMG_9817.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9817.JPG"></a>
    <a href="images/IMG_9834.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9834.JPG"></a>
    <a href="images/IMG_9835.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9835.JPG"></a>
    <a href="images/IMG_9837.JPG" data-lightbox="mygallery" data-title=""><img src="images/IMG_9837.JPG"></a>
  </div>

  <%- include('../shared/footer.ejs') %>

</body>
</html>