<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Community Garden Manager</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Hello, Welcome to Community Garden Manager!</h1><% times.forEach(function(t) { %>
      <p><%= t %></p><% }); %>
  </body>
</html>