<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Community Garden Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
  </head>
  <body>
  <div class="wrapper">
    <div id="intro">
      <h1>Hello, Welcome to [Community Garden of Client]!</h1>
      <h3>This site is managed by [Client].</h3>
      <h4>Become a member and be able to check out the garden or click an image to explore!</h4>
    </div>
    <div id="columns">
       <!-- <div class="plots">
          <h3>Garden Plots</h3>
          <img src="images/IMG_9829.JPG" alt="Garden Plot">
        </div>

        <div class="tools">
          <h3>Garden tools</h3>
          <img src="images/IMG_9835.JPG" alt="Garden Tools">
        </div>

        <div class="plants">
          <h3>Garden Plants</h3>
          <img src="images/IMG_9837.JPG" alt="Garden Plants">
        </div>

        <div class="zone">
          <h3>Weather Zone</h3>
          <img src="images/IMG_9830.JPG" alt="Weather Zone">
        </div>

        <div class="water">
          <h3>Watering Schedule</h3>
          <img src="images/IMG_9798.JPG" alt="Watering Schedule">
        </div>

        <div class="about">
          <h3>About us</h3>
          <p><a href=""><img src="images/IMG_9802.JPG" alt="About Us"></a></p>
        </div> -->
        <a href="/pageA">
            <figure>
                <img src="images/IMG_9829.JPG" alt="Garden Plot">
                <figcaption>Garden Plots - Page A</figcaption>
            </figure>
        </a>

        <a href="/pageB">
            <figure>
                <img src="images/IMG_9835.JPG" alt="Garden Tools">
                <figcaption>Garden Tools - Page B</figcaption>
            </figure>
        </a>

        <a href="/pageC">
            <figure>
                <img src="images/IMG_9837.JPG" alt="Garden Plants">
                <figcaption>Garden Plants - Page C</figcaption>
           </figure>
        </a>

        <a href="/pageD">
            <figure>
                <img src="images/IMG_9830.JPG" alt="Weather Zone">
                <figcaption>Weather Zones - Page D</figcaption>
           </figure>
        </a>

        <a href="/pageE">
            <figure>
                <img src="images/IMG_9798.JPG" alt="Watering Schedule">
                <figcaption>Watering Schedule - Page E</figcaption>
            </figure>
        </a>

        <a href="/pageF">
            <figure>
                <img src="images/IMG_9801.JPG" alt="About Us">
                <figcaption>About Us - Page F</figcaption>
            </figure>
        </a>

        <a href="/pageG">
            <figure>
                <img src="images/IMG_9832.JPG" alt="WildLife">
                <figcaption>WildLife - Page G</figcaption>
            </figure>
        </a>

        <a href="/pageH">
            <figure>
                <img src="images/IMG_9794.JPG" alt="WildLife">
                <figcaption>Produce - Page H</figcaption>
            </figure>
        </a>

        <a href="/pageI">
            <figure>
                <img src="images/IMG_9799.JPG" alt="WildLife">
                <figcaption>Visit - Page I</figcaption>
            </figure>
        </a>
        
        <%- include('../shared/footer.ejs') %>
    </div>
  </div>
