<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Community Garden Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
  </head>
  <body>
    <nav id="tempNav">
      <h4>****Temporary Links for easy navigation to other pages****</h4>
      <ul>
        <li><a href='/' id="homeTab">Home</a></li>
        <li><a href='/pageA'>pageA</a></li>
        <li><a href='/pageB'>pageB</a></li>
        <li><a href='/pageC'>pageC</a></li>
        <li><a href='/pageD'>pageD</a></li>
        <li><a href='/pageE'>pageE</a></li>
        <li><a href='/pageF'>pageF</a></li>
        <li><a href='/pageG'>pageG</a></li>
      </ul>
    </nav>
  <div class="wrapper">
    <div class="intro">
      <h1>Hello, Welcome to [Community Garden of Client]!</h1>
      <h3>This site is managed by [Client].</h3>
      <h4>Become a member and be able to check out the garden!</h4>
    </div>
    <div class="plots">
      <h3>Garden Plots</h3>
      <img src="images/IMG_9829.JPG" alt="Garden Plot">
    </div>
    <div class="tools">
      <h3>Garden tools</h3>
      <img src="images/IMG_9835.JPG" alt="Garden Tools">
    </div>
    <div class="plants">
      <h3>Garden Plants</h3>
      <img src="images/IMG_9837.JPG" alt="Garden Plants">
    </div>
    <div class="zone">
      <h3>Weather Zone</h3>
      <img src="images/IMG_9830.JPG" alt="Weather Zone">
    </div>
    <div class="water">
      <h3>Watering Schedule</h3>
      <img src="images/IMG_9798.JPG" alt="Watering Schedule">
    </div><div class="about">
      <h3>About us</h3>
      <p><a href=""><img src="images/IMG_9802.JPG" alt="About Us"></a></p>
    </div>
  </div>
  </body>
</html>