<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Community Garden Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
  </head>
  <body>
  <div class="wrapper">
    <div id="intro">
      <h1>Hello, Welcome to [Community Garden of Client]!</h1>
      <div id="logButton">
        <a href="/loginAndSignUp" class="button">Login</a>
      </div>
      
      <h3>This site is managed by [Client].</h3>
      <h4>Become a member and be able to check out the garden or click an image to explore!</h4>
    </div>
    <nav id="desktopNav">
      <ul>
        <li><a href='/' id="homeTab">Home</a></li>
        <li><a href='/pageA'>pageA</a></li>
        <li><a href='/pageB'>pageB</a></li>
        <li><a href='/pageC'>pageC</a></li>
        <li><a href='/pageD'>pageD</a></li>
        <li><a href='/pageE'>pageE</a></li>
        <li><a href='/Gallery'>Image Gallery</a></li>
        <li><a href='/ZoneMap'>Zone Map</a></li>
        <li><a href='/ZoneSearch'>Zone Search</a></li>
        <li><a href='/PlantSearch2'>Plant Search</a></li>
      </ul>
    </nav>
    <div class="dropdown">
        <button>Quick Links</button>
            <div class="dropdown-options">
                <a href='/' id="homeTab">Home</a>
                <a href='/pageA'>pageA</a>
                <a href='/pageB'>pageB</a>
                <a href='/pageC'>pageC</a>
                <a href='/pageD'>pageD</a>
                <a href='/pageE'>pageE</a>
                <a href='/Gallery'>Image Gallery</a>
                <a href='/ZoneMap'>Zone Map</a>
                <a href='/ZoneSearch'>Zone Search</a>
                <a href='/PlantSearch2'>Plant Search</a>
                <a href='/loginAndSignUp'>Login</a>
            </div>
    </div>
      
    <div id="columns">

        <a href="/pageA">
            <figure>
                <img src="images/IMG_9829.JPG" alt="Garden Plot">
                <figcaption>Garden Plots - Page A</figcaption>
            </figure>
        </a>

        <a href="/pageB">
            <figure>
                <img src="images/IMG_9835.JPG" alt="Garden Tools">
                <figcaption>Garden Tools - Page B</figcaption>
            </figure>
        </a>

        <a href="/pageC">
            <figure>
                <img src="images/IMG_9837.JPG" alt="Garden Plants">
                <figcaption>Garden Plants - Page C</figcaption>
           </figure>
        </a>

        <a href="/pageD">
            <figure>
                <img src="images/IMG_9830.JPG" alt="Weather Zone">
                <figcaption>Weather Zones - Page D</figcaption>
           </figure>
        </a>

        <a href="/pageE">
            <figure>
                <img src="images/IMG_9798.JPG" alt="Watering Schedule">
                <figcaption>Watering Schedule - Page E</figcaption>
            </figure>
        </a>

        <a href="/Gallery">
            <figure>
                <img src="images/IMG_9801.JPG" alt="Watermelon">
                <figcaption><strong>Image Gallery</strong> - View images shared from other's community garden, and share some of your own!</figcaption>
            </figure>
        </a>

        <a href="/ZoneMap">
            <figure>
                <img src="images/IMG_9832.JPG" alt="Bee sitting on flower">
                <figcaption><strong>Hardiness Zone Finder</strong> - Find out which zone you live in based on your zipcode!</figcaption>
            </figure>
        </a>

        <a href="/ZoneSearch">
            <figure>
                <img src="images/IMG_9794.JPG" alt="Garden Row of vegetables">
                <figcaption><strong>Plants By Zone</strong> - Find out some of the top plants that grow in your hardiness zone!</figcaption>
            </figure>
        </a>

        <a href="/PlantSearch2">
            <figure>
                <img src="images/IMG_9799.JPG" alt="Sprinkler and rainbow">
                <figcaption><strong>Plant Information</strong> - Find out about your favorite crops and plants using our search feature!</figcaption>
            </figure>
        </a>
        
        <%- include('../shared/footer.ejs') %>
    </div>
  </div>
