<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Community Garden Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
  <div class="wrapper">
    <header>
      <h1>Community Garden Manager</h1>
    </header>
    
    <div id="introDesktop">
      <h1>Hello, Welcome to Community Garden Manager!</h1>    
      <h3>This site is managed by Community Garden Manager</h3>
      <h4>Become a garden member, check out the garden, or click an image to explore!</h4>
    </div>
    <div id="introSmaller">
        <h1>Hello, Welcome to Community Garden Manager!</h1>
        <div id="logButton">
          <a href="/loginAndSignUp" class="button">Login</a>
          </div>
        
        <h3>This site is managed by Community Garden Manager.</h3>
        <h4>Become a member and be able to check out the garden or click an image to explore!</h4>
      </div>
    <nav id="desktopNav">
      <ul>
        <li><a href='/' id="homeTab">Home Page</a></li>
        <li><a href='/favorites'>Member's Favorites</a></li>
        <li><a href='/Design'>Garden Designer</a></li>
        <li><a href='/Gallery'>Image Gallery</a></li>
        <li><a href='/Discussion'>Gardener Chat</a></li>
        <li><a href='/ZoneMap'>Zone by ZipCode</a></li>
        <li><a href='/ZoneSearch'>Zone Search</a></li>
        <li><a href='/PlantSearch2'>Plant Search</a></li>
        <li><a href='/aboutUs'>About CGM</a></li>
        <li><a id="loginButton" href='/loginAndSignUp'>Login</a></li>
      </ul>
    </nav>
    <nav id="tabletNav">
        <ul>
          <li><a href='/' id="homeTab">Home Page</a></li>
          <li><a href='/favorites'>Member's Favorites</a></li>
          <li><a href='/Design'>Garden Designer</a></li>
          <li><a href='/Gallery'>Image Gallery</a></li>
          <li><a href='/Discussion'>Gardener Chat</a></li>
          <li><a href='/ZoneMap'>Zone by ZipCode</a></li>
          <li><a href='/ZoneSearch'>Zone Search</a></li>
          <li><a href='/PlantSearch2'>Plant Search</a></li>
          <li><a href='/aboutUs'>About CGM</a></li>
          <li><a id="loginButtonNav" href='/loginAndSignUp'>Login</a></li>
          
        </ul>
      </nav>
    <div class="dropdown">
        <button>Quick Links</button>
            <div class="dropdown-options">
                <a href='/' id="homeTab">Home Page</a>
                <a href='/favorites'>Member's Favorites</a>
                <a href='/Design'>Garden Designer</a>
                <a href='/Gallery'>Image Gallery</a>
                <a href='/Discussion'>Gardener Chat</a>
                <a href='/ZoneMap'>Zone by ZipCode</a>
                <a href='/ZoneSearch'>Zone Search</a>
                <a href='/PlantSearch2'>Plant Search</a>
                <a href='/aboutUs'>About CGM</a>
                <a href='/loginAndSignUp'>Login</a>
            </div>
    </div>
      
    <div id="columns">

        <a href="/">
            <figure>
                <img src="images/IMG_9829.JPG" alt="Garden Plot">
                <figcaption><strong>Home Page</strong> - This is your home page. Browse and enjoy the images. Navigate the website!</figcaption>
            </figure>
        </a>

        <a href="/favorites">
          <figure>
              
              <img src="images/IMG_9830.JPG" alt="Favorites">
              <figcaption><strong>View Member's Favorites</strong> - Add and save your favorite plants to your profile, plus view your and other member's favorite plants!</figcaption>
         </figure>
      </a>

        <a href="/aboutUs">
            <figure>
                <img src="images/IMG_9837.JPG" alt="Garden Plants">
                <figcaption><strong>About Us</strong> - Know about us and contact us!</figcaption>
           </figure>
        </a>



        <a href="/Design">
            <figure>
                <img src="images/IMG_9798.JPG" alt="Watering Schedule">
                <figcaption><strong>Design Your Garden</strong> - Use our simple drawing tools to design and layout your own personal garden!</figcaption>
            </figure>
        </a>

        <a href="/Gallery">
            <figure>
                <img src="images/IMG_9801.JPG" alt="Watermelon">
                <figcaption><strong>Image Gallery</strong> - View images shared from other's community garden, and share some of your own!</figcaption>
            </figure>
        </a>

        <a href="/Discussion">
            <figure>
                <img src="images/IMG_9835.JPG" alt="Garden Tools">
                <figcaption><strong>Gardener Chat</strong> - Participate in our chat! Ask questions. Make suggestions. Get the answers. </figcaption>
            </figure>
        </a>


        <a href="/ZoneMap">
            <figure>
                <img src="images/IMG_9832.JPG" alt="Bee sitting on flower">
                <figcaption><strong>ZipCode Lookup</strong> - Find out which zone you live in based on your zipcode!</figcaption>
            </figure>
        </a>

        <a href="/ZoneSearch">
            <figure>
                <img src="images/IMG_9794.JPG" alt="Garden Row of vegetables">
                <figcaption><strong>Plants By Zone</strong> - Find out some of the top plants that grow in your hardiness zone!</figcaption>
            </figure>
        </a>

        <a href="/PlantSearch2">
            <figure>
                <img src="images/IMG_9799.JPG" alt="Sprinkler and rainbow">
                <figcaption><strong>Plant Information</strong> - Find out about your favorite crops and plants using our search feature!</figcaption>
            </figure>
        </a>
        
        <%- include('../shared/footer.ejs') %>
    </div>
  </div>
