<%- include('../shared/header.ejs') %>
  <main>
      
    <h2>Welcome to Community Garden Manager's Plant Search Page</h2>

    <div id="searchForm2">
      
      <h3 id="search-header2">Search for Garden Plants by Common Name</h3>
    
      <div id="search-form2">
        <input type="text" name="Search2" id="search-field2" class="search-form-field" placeholder="Tomato">
    
        <button id="search-form-submit2">Search</button>
      </div>
    </div>
    <div id="displaySearchResults2">
      <h3>Results will display here!</h3>
    </div>

      <script>

        const resultsDisplay2 = document.getElementById('displaySearchResults2')
        const Input2 = document.getElementById('search-field2')
        const submitButton2 = document.getElementById('search-form-submit2')

        async function fetchPlant(Input2) {
          let response = await fetch(`https://openfarm.cc/api/v1/crops/${Input2}`)
          let results = await response.json()
          return results
        }

        submitButton2.addEventListener('click', async () => {


            let InputData = ''

            // API uses all lower case letters and a - instead of spacing this section converts use input to correct format
            InputData = Input2.value.toLowerCase();

            const myArray = InputData.split(" ");
            let dataString = '';
            let finalString = '';

            if (myArray.length === 1) {
              dataString = InputData;
            } else if (myArray.length >= 2) {
              for (var i = 0; i <= myArray.length-1; i++){
                if (i != myArray.length-1) {
                  dataString += myArray[i] + "-";
                } else {
                  dataString += myArray[i];
                }
              }
            }

		
		
		        //let subString = string.substr(0,string.length-1);
	          	var lastCharacter = dataString.substr(dataString.length-1, 1);
	          	var secondLastCharacter = dataString.substr(dataString.length-2, 1);

            if (lastCharacter != 's' || dataString === 'grapes' ) {
			        finalString = dataString;
	        	} else if (secondLastCharacter != 'e' || dataString === 'apples'|| dataString === 'pineapples'){
			        finalString = dataString.replace(/.$/,'');
		        } else {
			        finalString = dataString.replace('es', '');
		        }

            let result = await fetchPlant(finalString)

            if (result.data && result.data != null && result.data != ''){
              resultsDisplay2.innerHTML = `<div id="plantResultsDiv"><h3><em><u>Plant Name:</u></em> ${result.data.attributes.name}</h3>
                            <h3><em><u>Binomial Name:</u></em> ${result.data.attributes.binomial_name}</h3>
                            <h3><em><u>Description:</u></em> ${result.data.attributes.description}</h3>
                            <h3><em><u>Sun Requirements:</u></em> ${result.data.attributes.sun_requirements}</h3>
                            <h3><em><u>Growing Degree Days:</u></em> ${result.data.attributes.growing_degree_days} days</h3>
                            <h3><em><u>Sowing Method:</u></em> ${result.data.attributes.sowing_method}</h3>
                            <h3><em><u>Spread(diameter):</u></em> ${result.data.attributes.spread} centimeters</h3>
                            <h3><em><u>Row Spacing:</u></em> ${result.data.attributes.row_spacing} centimeters</h3>
                            <h3><em><u>Height:</u></em> ${result.data.attributes.height} centimeters</h3>
                            <h3><em><u>Image:</u></em><br><br><img id="resultNameImg" src="${result.data.attributes.main_image_path}" height='200' width='200'></h3></div>`

            } else {
              resultsDisplay2.innerHTML = `<h3>Please check your spelling and try again!</h3>`
           }
        })


      </script>
      
      <%- include('../shared/footer.ejs') %>
  </main>