<%- include('../shared/header.ejs') %>
  <main id="ZoneMap">
      
      <h1>Hardiness Zone Finder</h1>
      
      <div class='inputContainer'>
        <label> Enter Your Zip Code to Find Your Growing Zone: </label>
        <input type='text' placeholder='Zip Code' id='zipCodeTB'/>
        <button id='submitButton'>Submit</button>
      </div>

      <div id="resultsContainer">

      </div>

      <script>

        let zipCodeTB = document.getElementById('zipCodeTB')
        let submitButton = document.getElementById('submitButton')
        let resultsContainer = document.getElementById('resultsContainer')

        async function fetchZone(zip) {
          let response = await fetch(`https://phzmapi.org/${zip}.json`)
          let zoneResults = await response.json()
          return zoneResults
        }

        submitButton.addEventListener('click', async () => {

          let zipCode = zipCodeTB.value

          const zipCodeRegex = /^\d{5}$/

          if (zipCodeRegex.test(zipCode)) {

            let result = await fetchZone(zipCode)

            let zone = `<div class="zoneDisplay">
              <h3>Your Growing Zone</h3>
              <span>Zip Code: ${zipCode}</span>
              <span>Zone: ${result.zone}</span>
              <span>Min Temp Range: ${result.temperature_range}</span>
              <span>Lat: ${result.coordinates.lat}</span>
              <span>Long: ${result.coordinates.lon}</span>
              <img src="images/ZoneMap.jpg" alt="Heardiness Zone Map" width="500" height="400">
              </div>`

            resultsContainer.innerHTML = zone
            zipCodeTB.value = ''

          } else {
            resultsContainer.innerHTML = 'Please enter a valid zip code'
            zipCodeTB.value = ''
          }

        })


      </script>
      
      <%- include('../shared/footer.ejs') %>
  </main>